doctype html 
html(lang='es')
    head 
        title='Sistema de recolecion de desperdicios | Codigo de puntos'
        meta(charset='utf-8')
        style.
            .container-email{
                max-width: 465px;
                margin: 0 auto;
                width: 100%;
                padding: 14px;
                background-repeat: no-repeat;
                background-size:cover;
                text-align: center;
            }
    body 
        .container-email
            h2 Sistema de recolecion de desperdicios
            h3 Codigo de redencion de puntos
            div(style="width: 100%; text-align: left;")
                p Hola #{nombres}
                p Has ganado #{puntos} puntos
                p Tu codigo de redencion es: #{code}
            small CleanWorld Solutions